.about__app__wrapper {
  .shapes {
    position: relative;
    height: 90vh;
    background: #2128bd;
    overflow: hidden;

    .shape {
      will-change: transform;
      position: absolute;
      border-radius: 50%;

      $shapes: (#005ffe: 650px, #02af02: 440px, #f16b0c: 270px);

      @each $color, $size in $shapes {
        &.shape-#{index($shapes, ($color $size))} {
          background: $color;
          width: $size;
          height: $size;
          margin: (-$size/2) 0 0 (-$size/2);
        }
      }
    }
  }

  .content__about {
    top: 286px;
    left: auto;
    right: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    height: 90vh;
    width: 73.57%;
    background: #ffffff;
    mix-blend-mode: screen;

    h1 {
      font-family: Montserrat-Bold, sans-serif;
      font-weight: bold;
      font-size: 150px;
      width: 100%;
      text-align: center;
    }
  }

  //.cursor {
  //  position: fixed;
  //  background: #f16b0c;
  //  width: 20px;
  //  height: 20px;
  //  margin: -10px 0 0 -10px;
  //  border-radius: 50%;
  //  will-change: transform;
  //  user-select: none;
  //  pointer-events: none;
  //  z-index: 10000;
  //}

  //::selection {
  //  color: #fff;
  //  background: #2128bd;
  //}
}

.main-content {
  .item {
    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: center;
    justify-content: center;
    height: 10vh;
    flex-wrap: wrap;
    &:not(.footer) {
      padding-top: 1rem;
    }
  }

  button {
    background: transparent;
    color: #2128bd;
    border: 3px solid #2128bd;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 24px "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
  }

  .name {
    width: 100%;
    text-align: center;
    padding: 0 0 3rem;
    font: 500 14px 'Rubik', sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  .button-jittery button {
    animation: jittery 4s infinite;
    &:hover {
      animation: heartbeat 0.2s infinite;
    }
  }

  @keyframes jittery {
    5%,
    50% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    15% {
      transform: scale(1.15);
    }
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
    25% {
      transform: scale(1.15) rotate(5deg);
    }
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
    35% {
      transform: scale(1.15) rotate(2deg);
    }
    40% {
      transform: scale(1.15) rotate(0);
    }
  }

  @keyframes heartbeat {
    50% {
      transform: scale(1.1);
    }
  }

}

