@import '../variables';

.categories {
  ul {
    display: flex;
    @media screen and (max-width: 1140px) {
      flex-direction: column;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      @media screen and (max-width: 1140px) {
        padding: 7px 15px;
        margin-right: 5px;
      }
      @media screen and (max-width: 1140px) {
        padding: 0 0 0 5px ;
        margin-bottom: 2px;
        align-items: center;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
