@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 40px 20px 0 ;
  position: sticky;
  z-index: 999;
  top: 0;
  background: white;
  @media screen and (max-width: 700px) {
    padding: 20px 20px 0;
  }

  .header__description {
    @media screen and (max-width: 500px) {
      font-size: 12px;
    }
    @media screen and (max-width: 400px) {
     display: none;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 500px) {
      display: flex;
     // flex-direction: column;
     // align-items: flex-end;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
      @media screen and(max-width: 700px) {
        width: 60px;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

.navbar_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 15px 5px;
  @media screen and (max-width: 770px) {

  }

  .navbar_item {
    margin-right: 30px;
    line-height: 5px;
    margin-top: 10px;
    @media screen and (max-width: 990px) {
      margin-top: 5px  ;
    }
    .NavLink {
      font-style: italic;
      font-size: 20px;
      @media screen and (max-width: 700px) {
        font-size: 15px;
        line-height: 0;
      }

      &:hover {
        color: #f16b0c;
      }
    }
  }
}

.header__btn-block{
  display: flex;
  flex-direction: row;
}