

.welcome__wrapper {
  background: rgb(19, 19, 19);
}
.welcome__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
@media screen and (max-width: 670px) {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 20px;
  transition: border 1s ;
  position: relative;
  @media screen and (max-width: 1000px) {
    height: 279px;
    width: 200px;
    border-radius: 0;
  }
  @media screen and (max-width: 670px) {
    height: 379px;
    width: 300px;
  }
  &:hover {
    border: 1px solid #f16b0c;
  }
  h2{
    margin: 30px ;
    font-size: 40px;
  }
}

.card {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 20px;
  transition: background 0.8s;
  overflow: hidden;
 // background: black;
  box-shadow: 0 70px 63px -60px #585d64;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media screen and (max-width: 1000px) {
    height: 279px;
    width: 200px;
  }
  @media screen and (max-width: 670px) {
    height: 379px;
    width: 300px;
    margin-bottom: 10px;
  }
}

.card0 {
  background: url('https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80') center center no-repeat;
  background-size: 300px;
  &:hover {
    background: url('https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80') left center no-repeat;
    background-size: 600px;


    h2 {
      opacity: 1;
    }
    .fa {
      opacity: 1;
    }
  }
}

.card1 {
  background: url('https://images.unsplash.com/photo-1613564834361-9436948817d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=743&q=80') center center no-repeat;
  background-size: 300px;
  &:hover {
    background: url('https://images.unsplash.com/photo-1613564834361-9436948817d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=743&q=80') left center no-repeat;
    background-size: 600px;
    h2 {
      opacity: 1;
    }
    .fa {
      opacity: 1;
    }
  }
}
.card2 {
  background: url('https://images.unsplash.com/photo-1608219994814-b97f95e101d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center center no-repeat;
  background-size: 300px;
  &:hover {
    background: url('https://images.unsplash.com/photo-1608219994814-b97f95e101d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') left center no-repeat;
    background-size: 600px;
    h2 {
      opacity: 1;
    }
    .fa {
      opacity: 1;
    }
  }
}

h2{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
  @media screen and (max-width: 1000px) {
    font-size: 15px;
  }
}

.fa {
  opacity: 0;
  transition: opacity 1s;
  font-size: 70px;
  color: white;
  @media screen and (max-width: 1000px) {
    font-size: 40px;
  }
  &:hover{
    color: #000000;
  }
}

.icons {
  position: absolute;
  fill: #fff;
  right: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    right: 130px;
  }
}